.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block {
  margin-top: 40px;
}

.title {
  text-align: center;
}

.text {
  text-align: center;
}
