.block {
  margin-top: 55px;
}

.title {
  text-align: center;
}

.text {
  text-align: center;
}

.imgBlock {
  margin: 20px;
}

.btn {
  background-color: #ffa755;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 0.25rem;
  text-align: center;
  border: none;
}

.link:hover,
.btn:hover {
  background-color: #000000;
  color: #fffbfb;
  text-decoration: none;
  text-align: center;
}
