.container {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.carousel {
  margin-top: 55px;
}

.text {
  margin-bottom: -25px;
}

@media (max-width: 900px) {
  .text {
    margin-bottom: -25px;
  }
}
